<a href="https://colab.research.google.com/github/rfdyning6/rfdyning6.github.io/blob/main/coba_database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip3 install pip --upgrade
!pip install category_encoders

Requirement already satisfied: pip in /usr/local/lib/python3.7/dist-packages (21.1.3)
Collecting pip
  Downloading pip-21.3.1-py3-none-any.whl (1.7 MB)
     |████████████████████████████████| 1.7 MB 5.3 MB/s
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 21.1.3
    Uninstalling pip-21.1.3:
      Successfully uninstalled pip-21.1.3
Successfully installed pip-21.3.1
Collecting category_encoders
  Downloading category_encoders-2.3.0-py2.py3-none-any.whl (82 kB)
     |████████████████████████████████| 82 kB 386 kB/s
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.3.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

from sklearn.preprocessing import OneHotEncoder as SklearnOneHotEncoder
from matplotlib.ticker import StrMethodFormatter

%matplotlib inline
sns.set_style("whitegrid")
plt.style.use("fivethirtyeight")

pd.set_option("display.float_format", "{:.2f}".format)
pd.set_option("display.max_columns", 88)
pd.set_option("display.max_rows", 88)

In [3]:
#New Update Data Set from BRI
ds_df=pd.read_csv('https://decko048.github.io/dataset/data_sup.csv') 
dp_df=pd.read_csv('https://decko048.github.io/dataset/data_produk.csv')
su_df=pd.read_csv('https://decko048.github.io/dataset/std_unwind.csv')
sr_df=pd.read_csv('https://decko048.github.io/dataset/std_rewind.csv')

print('Data SUP Shape :', ds_df.shape)
print('Data Produk Shape :', dp_df.shape)
print('Standard Unwind Shape :', su_df.shape)
print('Standard Rewind Shape :', sr_df.shape)
ds_df.head(15)

Data SUP Shape : (865, 3)
Data Produk Shape : (808, 6)
Standard Unwind Shape : (5, 6)
Standard Rewind Shape : (5, 6)

        NoJI                                              Mesin Tanggal SUP
0    7460 0C  CERUTI.1                                      ...   4/30/2021
1    5743 1C  CERUTI.2                                      ...    5/2/2021
2    7430 0A  CERUTI.5                                      ...    5/4/2021
3    7468 1B  CERUTI.2                                      ...    5/4/2021
4   5360A 2F  CERUTI.1                                      ...    5/4/2021
5   1145A 7F  CERUTI.1                                      ...    5/5/2021
6    6368 1C  CERUTI.3                                      ...    5/5/2021
7    5293 2F  CERUTI.2                                      ...    5/5/2021
8    6367 1C  CERUTI.3                                      ...    5/6/2021
9   4990 10P  CERUTI.1                                      ...    5/6/2021
10   6366 2B  CERUTI.3                                      ...    5/6/2021
11   4285 2D  CERUTI.2                                      ...    5/6/2021
12   5311 4K  CERUTI.3                                      ...    5/6/2021
13   7294 0A  CERUTI.1                                      ...    5/6/2021
14   6588 0C  CERUTI.5                                      ...    5/7/2021

In [4]:
# Change columns name it's contain space
ds_df.rename(columns={'CERUTI.1':'CERUTI_1','CERUTI.2':'CERUTI_2',
                      'CERUTI.3':'CERUTI_3','CERUTI.5':'CERUTI_5'}, inplace=True)

In [5]:
ds_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 865 entries, 0 to 864
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   NoJI         865 non-null    object
 1   Mesin        865 non-null    object
 2   Tanggal SUP  865 non-null    object
dtypes: object(3)
memory usage: 20.4+ KB

In [6]:
ds_df = ds_df.fillna(0)
ds_df.head(15)

        NoJI                                              Mesin Tanggal SUP
0    7460 0C  CERUTI.1                                      ...   4/30/2021
1    5743 1C  CERUTI.2                                      ...    5/2/2021
2    7430 0A  CERUTI.5                                      ...    5/4/2021
3    7468 1B  CERUTI.2                                      ...    5/4/2021
4   5360A 2F  CERUTI.1                                      ...    5/4/2021
5   1145A 7F  CERUTI.1                                      ...    5/5/2021
6    6368 1C  CERUTI.3                                      ...    5/5/2021
7    5293 2F  CERUTI.2                                      ...    5/5/2021
8    6367 1C  CERUTI.3                                      ...    5/6/2021
9   4990 10P  CERUTI.1                                      ...    5/6/2021
10   6366 2B  CERUTI.3                                      ...    5/6/2021
11   4285 2D  CERUTI.2                                      ...    5/6/2021
12   5311 4K  CERUTI.3                                      ...    5/6/2021
13   7294 0A  CERUTI.1                                      ...    5/6/2021
14   6588 0C  CERUTI.5                                      ...    5/7/2021

In [7]:
cleanup_nums ={"Mesin":{"CERUTI.1":1,"CERUTI.2":2,"CERUTI.3":3, "CERUTI.5":5}}

In [8]:
fn_df = ds_df.replace(cleanup_nums)
fn_df = fn_df.fillna(0)
fn_df.head()

       NoJI                                              Mesin Tanggal SUP
0   7460 0C  CERUTI.1                                      ...   4/30/2021
1   5743 1C  CERUTI.2                                      ...    5/2/2021
2   7430 0A  CERUTI.5                                      ...    5/4/2021
3   7468 1B  CERUTI.2                                      ...    5/4/2021
4  5360A 2F  CERUTI.1                                      ...    5/4/2021

In [12]:
fn_df = ds_df.replace(cleanup_nums).astype('int64')
fn_df = fn_df.fillna(0)
fn_df.head(15)

ValueError: ignored

In [30]:
fn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 865 entries, 0 to 864
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   NoJI         865 non-null    object
 1   Mesin        865 non-null    object
 2   Tanggal SUP  865 non-null    object
dtypes: object(3)
memory usage: 20.4+ KB

In [31]:
ob_df=ds_df.select_dtypes(include=['object']).copy()
ob_df = ob_df.fillna(0)
ob_df.head()

       NoJI                                              Mesin Tanggal SUP
0   7460 0C  CERUTI.1                                      ...   4/30/2021
1   5743 1C  CERUTI.2                                      ...    5/2/2021
2   7430 0A  CERUTI.5                                      ...    5/4/2021
3   7468 1B  CERUTI.2                                      ...    5/4/2021
4  5360A 2F  CERUTI.1                                      ...    5/4/2021

In [33]:
ob_df=ob_df.replace(cleanup_nums)
ob_df.head()

       NoJI                                              Mesin Tanggal SUP
0   7460 0C  CERUTI.1                                      ...   4/30/2021
1   5743 1C  CERUTI.2                                      ...    5/2/2021
2   7430 0A  CERUTI.5                                      ...    5/4/2021
3   7468 1B  CERUTI.2                                      ...    5/4/2021
4  5360A 2F  CERUTI.1                                      ...    5/4/2021

In [9]:
from io import StringIO
col = ['NoJI','Mesin','Tanggal SUP']
cat_df = fn_df[col]
cat_df = cat_df[pd.notnull(fn_df['Mesin'])]
cat_df.columns = ['NoJI','Mesin','Tanggal SUP']

In [11]:
import matplotlib.pyplot as plt
fig = plt.figure(figsize=(15,5))
cat_df.groupby(['job_level','person_level']).Best_Performance.count().plot.bar(ylim=0)
plt.show()

KeyError: ignored

In [ ]:
import matplotlib.pyplot as plt
fig = plt.figure(figsize=(15,5))
cat_df.groupby(['Employee_type','maried_status']).Best_Performance.count().plot.bar(ylim=0)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
fig = plt.figure(figsize=(15,5))
cat_df.groupby(['job_level','maried_status']).Best_Performance.count().plot.bar(ylim=0)
plt.show()

In [ ]:
from io import StringIO
fcol = ['job_duration_in_current_job_level',
       'job_duration_in_current_person_level',
       'job_duration_in_current_branch', 'GPA', 'Last_Achieve',
       'Achieve_3quartal','Best_Performance']
flo_df = fn_df[fcol]
flo_df = flo_df[pd.notnull(fn_df['Best_Performance'])].astype('int64')
flo_df.columns = ['job_duration_in_current_job_level',
       'job_duration_in_current_person_level',
       'job_duration_in_current_branch', 'GPA', 'Last_Achieve',
       'Achieve_3quartal','Best_Performance']
flo_df.head()