<a href="https://colab.research.google.com/github/rfdyning6/rfdyning6.github.io/blob/main/test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

plt.style.use('fivethirtyeight')
from plotly.offline import download_plotlyjs,init_notebook_mode
init_notebook_mode(connected=True)

In [80]:
#trial data sup
ds_df=pd.read_csv('https://decko048.github.io/dataset/data_sup.csv')

print('Data SUP Shape :', ds_df.shape)
ds_df.head(15)

Data SUP Shape : (865, 3)

        NoJI                                              Mesin Tanggal SUP
0    7460 0C  CERUTI.1                                      ...   4/30/2021
1    5743 1C  CERUTI.2                                      ...    5/2/2021
2    7430 0A                                           CERUTI.5    5/4/2021
3    7468 1B  CERUTI.2                                      ...    5/4/2021
4   5360A 2F  CERUTI.1                                      ...    5/4/2021
5   1145A 7F  CERUTI.1                                      ...    5/5/2021
6    6368 1C  CERUTI.3                                      ...    5/5/2021
7    5293 2F  CERUTI.2                                      ...    5/5/2021
8    6367 1C  CERUTI.3                                      ...    5/6/2021
9   4990 10P  CERUTI.1                                      ...    5/6/2021
10   6366 2B  CERUTI.3                                      ...    5/6/2021
11   4285 2D  CERUTI.2                                      ...    5/6/2021
12   5311 4K  CERUTI.3                                      ...    5/6/2021
13   7294 0A  CERUTI.1                                      ...    5/6/2021
14   6588 0C                                           CERUTI.5    5/7/2021

In [83]:
import matplotlib.pyplot as plt
fig = plt.figure(figsize=(15,5))
flo_df.groupby(['data_sup']).mesin.count().plot.bar(ylim=0)
plt.show()

NameError: ignored

In [81]:
import matplotlib.pyplot as plt
plt.figure(figsize=(15,5))
dataset.groupby(['order_month'])['gmv'].sum().plot()
plt.show()

NameError: ignored

In [82]:
import matplotlib.pyplot as plt
%matplotlib inline  
plt.bar(['data_sup']).job_level.count().plot.bar(ylim=0)
plt.figure(figsize=(20,10))

TypeError: ignored